<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        Сохранить
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item lines="none">
      <ion-img [src]="picture" slot="start" style="max-width: 150px;max-height: 150px;"></ion-img>
      <ion-button (click)="pickImage()" slot="end">
        Загрузить
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Название чата</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="info">
    <ion-list-header>
      <ion-label>Пользователи</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Пригласить:</ion-label>
      <ion-input type="text" [(ngModel)]="newinvite"></ion-input>
      <ion-button slot="end" fill="outline" (click)="invite()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-sliding *ngFor="let user of users">
      <ion-item>
        <ion-thumbnail slot="start" class="cover">
          <img [src]="user.picture">
        </ion-thumbnail>
        <ion-label>{{ user.name }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="remove(user.id)" color="danger">Удалить</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
