<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen *ngIf="info">
  <ion-card>
    <ion-img *ngIf="info.background" [src]="info.background"></ion-img>
    <ion-img *ngIf="!info.background" [src]="info.preview"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>{{ info.type }}</ion-card-subtitle>
      <ion-card-title>{{ info.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content [innerHTML]="info.body">
    </ion-card-content>
  </ion-card>

  <ion-button (click)="Comments()" expand="full" fill="outline">Комментарии</ion-button>
</ion-content>
