<ion-header>
  <ion-toolbar>
    <ion-title>Настройки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>
  <ion-card>
    <ion-card-content>

      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Профиль</ion-label>
        </ion-list-header>
        <ion-item>Item 1</ion-item>
        <ion-item>Item 2</ion-item>
        <ion-item>Item 3</ion-item>
        <ion-item>Item 4</ion-item>
        <ion-item>Item 5</ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
