<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="popover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ info.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>

  <!-- Page refrasher -->
  <ion-refresher slot="fixed" (ionRefresh)="update($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Для обновления потяни вниз"
      refreshingSpinner="circles"
      refreshingText="Обновление"
      cancelable="false"
    >
    </ion-refresher-content>
  </ion-refresher>
  <!-- end of page refresher -->

  <ion-card>
    <ion-card-content>
      <ion-row>

        <ion-col size="5">
          <img src="{{ info.picture }}">
        </ion-col>

        <ion-col size="7">

          <ion-chip *ngFor="let item of info.badges">
            <ion-icon name="{{ item.icon }}"></ion-icon>
            <ion-label>{{ item.name }}</ion-label>
          </ion-chip>

        </ion-col>
        <ion-col size="12">
          О себе: {{ info.desc || '...' }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">

        <ion-item (click)="openList('Буду читать', info.willread)">
          <ion-label>Буду читать</ion-label>
          <ion-note slot="end">{{ info.willread.length }}</ion-note>
        </ion-item>
        <ion-item (click)="openList('Читаю', info.inprogress)">
          <ion-label>Читаю</ion-label>
          <ion-note slot="end">{{ info.inprogress.length }}</ion-note>
        </ion-item>
        <ion-item (click)="openList('Прочитано', info.readed)">
          <ion-label>Прочитано</ion-label>
          <ion-note slot="end">{{ info.readed.length }}</ion-note>
        </ion-item>
        <ion-item (click)="openList('Любимые', info.favorite)">
          <ion-label>Любимые</ion-label>
          <ion-note slot="end">{{ info.favorite.length }}</ion-note>
        </ion-item>
        <ion-item (click)="openList('Брошено', info.thrown)">
          <ion-label>Брошено</ion-label>
          <ion-note slot="end">{{ info.thrown.length }}</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
