<ion-header translucent>
  <ion-toolbar>
    <ion-title>Авторизация</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen padding>
  <form onSubmit>
    <ion-list>
      <ion-item>
        <ion-label required position="stacked">Логин</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label required position="stacked">Пароль</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div>
      <ion-button expand="block" type="submit">Войти</ion-button>
    </div>
  </form>
</ion-content>