<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-results">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Поиск</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="magic">
      <ion-icon name="color-wand"></ion-icon>
      <ion-label>Подборки</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
