<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ info.name }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullpage>

  <ion-slides
    #mySlider
    (ionSlideReachEnd)="ChapterEnded()"
    (ionSlideDidChange)="sliderEvent()"
    style="height: 100%"
    align-items-center
    [options]="slideOpts"
  >
    
    <ion-slide *ngFor="let img of episode">
      <ion-img src="{{ img }}"></ion-img>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button (click)="slider.slidePrev(500)">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="selectChapter()">
        <ion-icon name="menu"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="slider.slideNext(500)">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
