<ion-header>
  <ion-toolbar>
    <ion-title>О приложении</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">

        <ion-item>
          <ion-label text-wrap>
            <p>
              Наверно не самая лучшая попытка написать приложение для чтения манги с телефона.
              Не планируеться делать из приложения комерческий продукт.
              Приложение писалось в одиночку и это значит что очень сложно все было реализовать и тем более грамотно.
              Если есть вопросы на счет приложения, я всегда готов их выслушать в личной беседе или в VK.
            </p>
            <ion-text>
              <p>
                Контакты: <br>
                <a href="https://vk.com/keelvel">VK</a> <br>
                <a href="https://github.com/deissh">GitHub</a> <br>
                <a href="https://t.me/deissh">Telegram</a>
              </p>
            </ion-text>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <ion-list lines="none">
  
          <ion-list-header>
            <ion-label>Список тестеров</ion-label>
          </ion-list-header>
  
          <ion-item>
            XXX
          </ion-item>
  
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
