<ion-content fullscreen padding>
  <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Авторизация</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input [(ngModel)]="username" type="text" placeholder="Email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-input [(ngModel)]="password" type="password" placeholder="Пароль"></ion-input>
            </ion-item>
          </div>
    
          <div padding>
            <ion-button (click)="login()" expand="block">Войти</ion-button>
            <ion-button (click)="gotoreg()" fill="outline" expand="block">Регистрация</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
