$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: var(--ion-background-color);
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-col {
        border: none;
    }
}
