// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.menu-header {
    padding: 5px 15px;
    background-image: url('../assets/bg-default.jpg');
    background-size: cover;
    color: white;

    .name {
        font-weight: 500;
        margin-bottom: 3px;
    }

    .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.user-avatar {
    max-width: 125px;
    height: 125px;
    padding: .5em;
    height: 12vh;
}

h3,
.label {
    color: #999;
    font-weight: 400;
}

ion-icon {
    color: #777;
}