<div class="{{global.get('theme') || ''}}">
  <ion-app>
    <ion-split-pane>
      <ion-menu>
        <!-- <ion-header>
          <ion-toolbar>
            <ion-title>Меню</ion-title>
          </ion-toolbar>
        </ion-header> -->
        <ion-content>
          <!-- <ion-list>
            <ion-menu-toggle auto-hide="false" >
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list> -->
          <div class="menu-header" [routerDirection]="'root'" routerLink="/profile" *ngIf="global.get('user_local')">
            <!--material-design-background-->
            <img class="user-avatar round" style="height:90px;max-width:90px;" [src]="global.get('user_local').picture" />
            <p class="name">{{ global.get('user_local').name }}</p>
            <p class="e-mail">{{ global.get('user_local').email }}</p>
          </div>

          <ion-list lines="none">
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" routerLink="/home" detail="false">
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>
                  Главная
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" routerLink="/search" detail="false">
                <ion-icon slot="start" name="search"></ion-icon>
                <ion-label>
                  Поиск
                </ion-label>
              </ion-item>
              <!-- <ion-item [routerDirection]="'root'" routerLink="/chats" detail="false">
                <ion-icon slot="start" name="chatbubbles"></ion-icon>
                <ion-label>
                  Чаты
                </ion-label>
              </ion-item> -->
              <ion-item [routerDirection]="'root'" routerLink="/notifications" detail="false">
                <ion-icon slot="start" name="notifications"></ion-icon>
                <ion-label>
                  Уведомления
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" routerLink="/profile" detail="false">
                <ion-icon slot="start" name="profile"></ion-icon>
                <ion-label>
                  Профиль
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-item lines="none">
            <ion-label>
              Ночная тема β
            </ion-label>
            <ion-toggle (ionChange)="ionChange($event)"></ion-toggle>
          </ion-item>

          <a href="http://vk.com/fuutea" target="_blank" rel="noopener noreferrer">
            <img alt="" src="https://cdn.anibe.ru/ads/41579479.jpg" srcset="" style="bottom: 0px;position: absolute;">
          </a>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
</div>

<fiv-dialog [pullEnabled]="alert.pull" (fivDurationOver)="dialog.close()" [inDuration]="alert.inDuration"
  [outDuration]="alert.outDuration" #dialog [duration]="alert.duration" [shape]="alert.shape" [horizontalAlign]="alert.horizontalAlign"
  [verticalAlign]="alert.verticalAlign" [backdrop]="alert.backdrop">

  <ion-card-header>
    <!-- <ion-card-subtitle>{{ alert.type }}</ion-card-subtitle> -->
    <ion-card-title>{{ alert.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{ alert.content }}</p>
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dialog.close()">
        Закрыть
      </ion-button>
      <ion-button color="primary" (click)="open(alert.url)">
        Перейти
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</fiv-dialog>