<ion-content fullscreen padding>
  <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Регистрация</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input [(ngModel)]="email" type="text" placeholder="erlich.bachman@domain.com"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="username" type="text" placeholder="Erlich"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-input [(ngModel)]="psw1" type="password" placeholder="Пароль"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="psw2" type="password" placeholder="Повторите пароль"></ion-input>
            </ion-item>
          
          </div>
          <div padding>
            <ion-button (click)="reg()" fill="outline" expand="block">
              Регистрация
            </ion-button>
            
            <div text-center>
              <a href="https://cdn.anibe.ru/privacy_policy/index.html">Политика конфиденциальности</a>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
