<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="createChat()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Активные чаты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>
  <!-- Page refrasher -->
  <ion-refresher slot="fixed" (ionRefresh)="update($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Для обновления потяни вниз"
      refreshingSpinner="circles" refreshingText="Обновление" cancelable="false">
    </ion-refresher-content>
  </ion-refresher>
  <!-- end of page refresher -->

  <ion-virtual-scroll [items]="chats">

    <ion-item-sliding *virtualItem="let item" #myList>
      <ion-item (click)="open(item.id)">
        <ion-avatar slot="start" class="cover">
          <img [src]="item.picture">
        </ion-avatar>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>

      <ion-item-options side="end" *ngIf="userlocal"> <!-- add && item.admin === userlocal.id" -->
        <ion-item-option (click)="createChat(item)">Изменить</ion-item-option>
        <ion-item-option (click)="remove(item.id)" color="danger">Удалить</ion-item-option>
      </ion-item-options>
      <!-- <ion-thumbnail slot="start" class="cover">
            <img [src]="item.picture">
          </ion-thumbnail>
          <ion-label>{{ item.name }}</ion-label> -->
      <!-- <ion-item lines="none">
        
      </ion-item>
      <ion-item-options side="end" *ngIf="userlocal && item.admin === userlocal.id">
          <ion-item-option (click)="createChat(item)">Изменить</ion-item-option>
        <ion-item-option (click)="remove(item.id)" color="danger">Удалить</ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

  </ion-virtual-scroll>
</ion-content>
