<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Главная
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>

  <ion-slides [options]="slideOpts" *ngIf="recommendations.length >= 3">
      <ion-slide *ngFor="let item of recommendations">
  
        <ion-card (click)="openPost(item.id)">
          <img [src]="item.cover">
          <!-- <ion-card-header>
            <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header> -->
  
          <!-- <ion-card-content>
            <p>{{ item.annotation }}</p>
          </ion-card-content> -->
        </ion-card>
  
      </ion-slide>
    </ion-slides>

  <!-- <ion-card *ngFor="let item of lastnews" (click)="openNews(item.id)">
    <ion-img src="{{ item.preview }}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ item.type }}</ion-card-subtitle>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ item.annotation }}</p>
    </ion-card-content>
  </ion-card> -->
  <ion-card *ngFor="let item of lastnews" (click)="openNews(item.id)">
    <ion-img [src]="item.preview"></ion-img>
    <div class="card-title">{{ item.title }}</div>
    <div class="card-subtitle">{{ item.type }}</div>
  </ion-card>

</ion-content>
