<ion-content fullpage>
  <ion-slides pager="true">
    <ion-slide class="step-one">
        <h1>Важно</h1>
        <p>
          Приложение находится в разработке и могут быть различные баги и ошибки.
          Поймите я тоже человек!
        </p>
    </ion-slide>

    <ion-slide class="step-two">
        <h1>Отказ от ответственности</h1>
        <p>В связи с авторскими правами не все манги доступны в некоторых регионах. Контент доступен только на русском языке.</p>
    </ion-slide>

    <ion-slide class="step-three">
        <!-- <ion-img src="https://vignette.wikia.nocookie.net/all-interesting/images/8/80/%D0%90%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B5_%D0%BF%D1%80%D0%B0%D0%B2%D0%BE.png/revision/latest?cb=20141023171535&path-prefix=ru"></ion-img> -->
        <h1>NDA</h1>
        <p>
          Вы принимаете NDA (соглашение о неразглашении) и полностью с ним согласны.
          Пожалуйста никому не говорите и не показывайте приложение.
        </p>

        <ion-button (click)="end()">Начать</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
