<ion-content fullpage>
  <ion-slides pager="true">
    <ion-slide class="step-one">
        <h1>Давайте читать мангу!</h1>
        <p>
          Читайте мангу, в любое время дня и ночи, и даже без подключения к интернету. β
        </p>
    </ion-slide>

    <ion-slide class="step-two">
        <h1>Большая база</h1>
        <p>Огромный ассортимент манги и умные алгоритмы подбора позволяет вам находить шедевры современных авторов.</p>
    </ion-slide>

    <ion-slide class="step-three">
        <!-- <ion-img [src]="android-ios.png"></ion-img> -->
        <h1>Кроссплатформенность</h1>
        <p>
          Добавляйте! Оценивайте! Делитесь! Создавайте группы по интересам и просто общайтесь без привязки к какой либо платформе.
        </p>

        <ion-button (click)="end()">Начать</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
