<ion-header>
  <ion-toolbar>
    <ion-title>{{ info.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>

  <ion-list>

    <ion-item *ngFor="let item of comments">
      <ion-avatar slot="start">
        <img src="{{ item.user.picture }}">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{ item.user.name }}</h3>
        <p>{{ item.body }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-input clearInput></ion-input> -->
    <ion-item lines="none">
      <ion-textarea
        [(ngModel)]="body" 
        clearOnEdit="true"
        placeholder="Комментарий ..."
      ></ion-textarea>

      <ion-button color="primary" size="default" fill="outline" (click)="createComment()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
    
  </ion-toolbar>
</ion-footer>
