<ion-content>
  <!-- <ion-slides
    class="slider main"
    pager
  >
    <ion-slide *ngFor="let item of slider_data.slides">
      <a *ngIf="item.inapp_page === false" href="{{ item.url }}">
        <ion-img  src="{{ item.img }}"></ion-img>
      </a>
      <ion-img (click)="openPage(item.url)" *ngIf="item.inapp_page === true" src="{{ item.img }}"></ion-img>
    </ion-slide>
    
  </ion-slides> -->

  <ion-slides
    class="slider main"
    align-items-center
    *ngIf="enableSlider === 'true'"
  >
    
    <ion-slide *ngFor="let item of slider_data.slides">
      <ion-img src="{{ item.img }}" (click)="openPage(item)"></ion-img>
    </ion-slide>

  </ion-slides>

  <ion-card>
    <ion-card-header>
      Обновления
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item 
          *ngFor="let item of lastupdates"
          (click)="openPost(item.id)"
          lines="none"
        >
          <ion-thumbnail slot="start" class="cover">
            <img src="{{ item.cover }}">
          </ion-thumbnail>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let item of lastnews" (click)="openNews(item.id)">
    <ion-img src="{{ item.preview }}"></ion-img>

    <ion-item lines="none">
      <ion-label>{{ item.title }}</ion-label>
      <!-- <ion-button fill="outline" slot="end">Открыть</ion-button> -->
    </ion-item>

    <ion-card-content>
      <p>{{ item.annotation }}</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngIf="lastnews">
    <ion-card-header>
      Новости
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item 
          *ngFor="let item of lastnews"
          (click)="openPost(item.id)"
          lines="none"
        >
          <ion-thumbnail slot="start" class="cover">
            <img [src]="item.preview">
          </ion-thumbnail>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
  
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of news">
    <ion-img src="{{ item.cover }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.annotation }}</p>
    </ion-card-content>
  </ion-card> -->

</ion-content>
