<ion-content>
  <ion-slides class="slider main" style="background: black" id="slides" pager>
    <ion-slide style="background: red; color: white;">
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide style="background: white; color: blue;">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide style="background: blue; color: white;">
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      Обновления
    </ion-card-header>
    <ion-list>
      <ion-item 
        *ngFor="let item of lastupdates"
        (click)="openPost(item.id)"
        lines="none"
      >
        <ion-thumbnail slot="start" class="cover">
          <img src="{{ item.cover }}">
        </ion-thumbnail>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card *ngFor="let item of news">
    <ion-img src="{{ item.cover }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.annotation }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
