<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="togle()" *ngIf="!mode" >
        <ion-icon name="keypad"></ion-icon>
      </ion-button>
      <ion-button (click)="togle()" *ngIf="mode" >
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullpage>

  <ion-list *ngIf="!mode">

    <ion-item-sliding *ngFor="let item of list" #myList>
      <ion-item (click)="open(item.id)" lines="none">
        <ion-thumbnail slot="start" class="cover">
          <img src="{{ item.cover }}">
        </ion-thumbnail>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="move(item.id)">Перенести</ion-item-option>
        <ion-item-option (click)="remove(item.id)" color="danger">Удалить</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-row *ngIf="mode">
    <ion-col size="6" *ngFor="let item of list">
      <ion-img (click)="open(item.id)" src="{{ item.cover }}"></ion-img>
      {{ item.name }}
    </ion-col>
  </ion-row>

</ion-content>
